# **PROJETO ANÁLISE DOS DADOS DO COVID 19 NO ESTADO DE SÃO PAULO**

Este projeto analisa os dados dos casos de COVID-19 no estado de São Paulo do período de fevereiro de 2020 a setembro de 2021.

Os dados estão disponíveis nos sites:

https://www.seade.gov.br/coronavirus/#

https://github.com/seade-R/dados-covid-sp

https://www.seade.gov.br/

# **Importação dos Dados**

## **Importação de arquivos csv**

In [1]:
# Importar bibliotecas necessárias

import numpy as np
import pandas as pd

In [2]:
# Não imprimir os warning

pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
# Leitura de arquivo .csv:
# variavel_tabela = pd.read_csv('caminho_arquivo', sep='separador_no_arquivo', encoding='tipo_encoding')

# encoding: codificação de caracteres, normalmente utiliza-se o iso-8859-1, utf-8, latin-1)

covid_sp = pd.read_csv('.\dados\dados_covid_sp.csv', sep=';', encoding='utf-8')

In [4]:
# Exibir as informações do arquivo .csv:
# variavel_tabela.head(linhas_exibidas)

covid_sp.head(60)

# objeto.método() --> Permite colocar parâmetros (entre os parênteses)

,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,nome_drs,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem
0,Adamantina,3500105,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,33894,7398,41199,0,8.0,"-21,6820","-51,0737",9
1,Adolfo,3500204,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,3447,761,21106,0,8.0,"-21,2325","-49,6451",9
2,Aguaí,3500303,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,35608,5245,47455,0,8.0,"-22,0572","-46,9735",9
3,Águas da Prata,3500402,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,7797,1729,14267,0,8.0,"-21,9319","-46,7176",9
4,Águas de Lindóia,3500501,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,18374,3275,6013,0,8.0,"-22,4733","-46,6314",9
5,Águas de Santa Bárbara,3500550,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,5931,1106,40446,0,8.0,"-22,8812","-49,2421",9
6,Águas de São Pedro,3500600,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Piracicaba,11,3122,764,361,0,8.0,"-22,5977","-47,8734",9
7,Agudos,3500709,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,36134,5524,96671,0,8.0,"-22,4694","-48,9863",9
8,Alambari,3500758,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,5779,830,1596,0,8.0,"-23,5503","-47,8980",9
9,Alfredo Marcondes,3500808,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Presidente Prudente,2,3927,907,11892,0,8.0,"-21,9527","-51,4140",9
10,Altair,3500907,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Barretos,16,4036,552,31301,0,8.0,"-20,5242","-49,0571",9
11,Altinópolis,3501004,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Ribeirão Preto,1,15553,2980,92896,0,8.0,"-21,0214","-47,3712",9
12,Alto Alegre,3501103,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,4017,964,31857,0,8.0,"-21,5811","-50,1680",9
13,Alumínio,3501152,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,17972,2230,8366,0,8.0,"-23,5306","-47,2546",9
14,Álvares Florence,3501202,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,3621,991,36241,0,8.0,"-20,3203","-49,9141",9
15,Álvares Machado,3501301,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Presidente Prudente,2,23789,4267,34765,0,8.0,"-22,0764","-51,4722",9
16,Álvaro de Carvalho,3501400,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,5044,583,15366,0,8.0,"-22,0841","-49,7190",9
17,Alvinlândia,3501509,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,3176,505,8488,0,8.0,"-22,4435","-49,7623",9
18,Americana,3501608,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,233458,40276,13391,0,8.0,"-22,7374","-47,3331",9
19,Américo Brasiliense,3501707,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araraquara,8,40243,4465,12279,0,8.0,"-21,7288","-48,1147",9
20,Américo de Campos,3501806,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,5736,1267,25288,0,8.0,"-20,2985","-49,7359",9
21,Amparo,3501905,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,69639,12727,44532,0,8.0,"-22,7088","-46,7720",9
22,Analândia,3502002,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Piracicaba,11,4850,813,32595,0,8.0,"-22,1289","-47,6619",9
23,Andradina,3502101,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,56054,10776,96423,0,8.0,"-20,8948","-51,3786",9
24,Angatuba,3502200,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,24501,3775,102729,0,8.0,"-23,4917","-48,4139",9
25,Anhembi,3502309,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,6672,975,73656,0,8.0,"-22,7930","-48,1336",9
26,Anhumas,3502408,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Presidente Prudente,2,3963,680,32084,0,8.0,"-22,2934","-51,3895",9
27,Aparecida,3502507,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Taubaté,17,35709,6043,12108,0,8.0,"-22,8495","-45,2325",9
28,Aparecida d'Oeste,3502606,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,4132,997,179,0,8.0,"-20,4487","-50,8835",9
29,Apiaí,3502705,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,24666,3685,97432,0,8.0,"-24,5108","-48,8443",9
30,Araçariguama,3502754,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,20980,2193,1452,0,8.0,"-23,4366","-47,0608",9
31,Araçatuba,3502804,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,190469,35257,116713,0,8.0,"-21,2076","-50,4401",9
32,Araçoiaba da Serra,3502903,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,32390,5103,25533,0,8.0,"-23,5029","-47,6166",9
33,Aramina,3503000,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Franca,4,5496,980,20283,0,8.0,"-20,0882","-47,7873",9
34,Arandu,3503109,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,6165,1030,28591,0,8.0,"-23,1386","-49,0487",9
35,Arapeí,3503158,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Taubaté,17,2471,433,1569,0,8.0,"-22,6717","-44,4441",9
36,Araraquara,3503208,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araraquara,8,227618,40188,100363,0,8.0,"-21,7845","-48,1780",9
37,Araras,3503307,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Piracicaba,11,131057,21594,64483,0,8.0,"-22,3572","-47,3842",9
38,Arco-Íris,3503356,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,1816,414,2649,0,8.0,"-21,7728","-50,4660",9
39,Arealva,3503406,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,8196,1774,50497,0,8.0,"-22,0310","-48,9135",9
40,Areias,3503505,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Taubaté,17,3843,562,30523,0,8.0,"-22,5786","-44,6992",9
41,Areiópolis,3503604,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,10857,1303,8591,0,8.0,"-22,6672","-48,6681",9
42,Ariranha,3503703,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,9320,1475,13262,0,8.0,"-21,1872","-48,7904",9
43,Artur Nogueira,3503802,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,52609,6762,17803,0,8.0,"-22,5727","-47,1727",9
44,Arujá,3503901,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Grande São Paulo,10,89744,10776,9617,0,8.0,"-23,3965","-46,3200",9
45,Aspásia,3503950,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,1765,402,6937,0,8.0,"-20,1600","-50,7280",9
46,Assis,3504008,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,101381,18181,46061,0,8.0,"-22,6600","-50,4183",9
47,Atibaia,3504107,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,139606,21916,47852,0,8.0,"-23,1171","-46,5563",9
48,Auriflama,3504206,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,14471,2825,4345,0,8.0,"-20,6836","-50,5572",9
49,Avaí,3504305,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,5288,853,54069,0,8.0,"-22,1514","-49,3356",9
50,Avanhandava,3504404,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,12114,1541,33837,0,8.0,"-21,4584","-49,9509",9
51,Avaré,3504503,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,87538,14398,121306,0,8.0,"-23,1067","-48,9251",9
52,Bady Bassitt,3504602,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,16329,2565,11037,0,8.0,"-20,9197","-49,4385",9
53,Balbinos,3504701,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,3704,306,9164,0,8.0,"-21,8963","-49,3619",9
54,Bálsamo,3504800,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,8524,1712,14988,0,8.0,"-20,7348","-49,5865",9
55,Bananal,3504909,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Taubaté,17,10651,1900,61643,0,8.0,"-22,6819","-44,3281",9
56,Barão de Antonina,3505005,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,3383,637,15314,0,8.0,"-23,6284","-49,5634",9
57,Barbosa,3505104,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,7284,1122,20521,0,8.0,"-21,2657","-49,9518",9
58,Bariri,3505203,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,33993,6061,44441,0,8.0,"-22,0730","-48,7438",9
59,Barra Bonita,3505302,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,34914,6605,15012,0,8.0,"-22,4909","-48,5583",9

In [5]:
# Quando passa do limite(60) de linhas exibidas, são exibidas as 5 primeiras e 5 ultimas linhas de acordo com "linhas_exibidas"

covid_sp.head(61)

,nome_munic,codigo_ibge,dia,mes,datahora,casos,casos_novos,casos_pc,casos_mm7d,obitos,...,nome_drs,cod_drs,pop,pop_60,area,map_leg,map_leg_s,latitude,longitude,semana_epidem
0,Adamantina,3500105,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Marília,5,33894,7398,41199,0,8.0,"-21,6820","-51,0737",9
1,Adolfo,3500204,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São José do Rio Preto,15,3447,761,21106,0,8.0,"-21,2325","-49,6451",9
2,Aguaí,3500303,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,35608,5245,47455,0,8.0,"-22,0572","-46,9735",9
3,Águas da Prata,3500402,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,São João da Boa Vista,14,7797,1729,14267,0,8.0,"-21,9319","-46,7176",9
4,Águas de Lindóia,3500501,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Campinas,3,18374,3275,6013,0,8.0,"-22,4733","-46,6314",9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,Barão de Antonina,3505005,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,3383,637,15314,0,8.0,"-23,6284","-49,5634",9
57,Barbosa,3505104,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Araçatuba,7,7284,1122,20521,0,8.0,"-21,2657","-49,9518",9
58,Bariri,3505203,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,33993,6061,44441,0,8.0,"-22,0730","-48,7438",9
59,Barra Bonita,3505302,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Bauru,12,34914,6605,15012,0,8.0,"-22,4909","-48,5583",9
60,Barra do Chapéu,3505351,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,...,Sorocaba,6,5530,802,40568,0,8.0,"-24,4722","-49,0238",9

In [6]:
# Verificar quantos registros (linhas) e variáveis (colunas) que o arquivo possui:
# variavel_tabela.shape 

covid_sp.shape

# objeto.atributo --> Não permite colocar parâmetros

(374034, 26)

## **Importação de arquivos Excel**

In [7]:
# Leitura de arquivo .xlsx:
# variavel_tabela = pd.read_excel('caminho_arquivo')

# Arquivos excel demoram mais que os csv para carregar!!!

## **Importação através de uma url**

In [8]:
# variavel_url = "endereço_url"

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [9]:
# Se não existir nomes nas colunas, é possível nomeá-las:
# variavel_colunas = ['nome_coluna_1', nome_coluna_2', ...]

colnames = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

In [10]:
# variavel_tabela = pd.read_csv(variavel_url, names=variavel_colunas)

iris = pd.read_csv(url, names=colnames)

In [11]:
iris.head()

   sepal-length  sepal-width  petal-length  petal-width        Class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [12]:
type(iris)

pandas.core.frame.DataFrame

In [13]:
# Utilizar para consultas

iris.shape

(150, 5)

In [14]:
# Utilizar nos códigos (ex: for, while, funções, etc) 

len(iris)

150

## **Datasets das bibliotecas do Python**

### **Statsmodels**

https://www.statsmodels.org/stable/datasets/index.html

In [15]:
import statsmodels.api as sm

In [16]:
# Importar tabela de dados:
# variavel = sm.datasets.nome_tabela.load_pandas().data

cancer = sm.datasets.cancer.load_pandas().data
cancer.head()

   cancer  population
0     1.0       445.0
1     0.0       559.0
2     3.0       677.0
3     4.0       681.0
4     3.0       746.0

In [17]:
type(cancer)

pandas.core.frame.DataFrame

In [18]:
cancer.shape

(301, 2)

### **Scikit-learn**

https://scikit-learn.org/stable/datasets/toy_dataset.html

In [19]:
import sklearn
from sklearn import datasets

In [20]:
# Importar tabela de dados:
# variavel_dataset = datasets.load_nomeDataset()

iris = datasets.load_iris()

In [21]:
# Imprime um dicionário com as informações

iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n|details-start|\n**References**\n|details-split|\n\n- Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n  Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n  Mathematical Statistics" (John Wiley, NY, 1950).\n- Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n  (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n- Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n  Structure and Classification Rule for Recognition in Partially Exposed\n  Environments".  IEEE Transactions on Pattern Analysis and Machine\n  Intelligence, Vol. PAMI-2, No. 1, 67-71.\n- Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n  on Information Theory, May 1972, 431-433.\n- See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n  conceptual clustering system finds 3 classes in the data.\n- Many, many more ...\n\n|details-end|',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

In [22]:
# Imprime um array com os dados

iris.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [23]:
# Imprime os alvos (ex: classificações das plantas)

iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [24]:
# Imprime os nomes dos alvos (ex: nomes das classificações das plantas)

iris.target_names

#           0             1            2  
# array(['setosa' , 'versicolor', 'virginica'], dtype='<U10')

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

# **Organização dos Dados**

## **Renomeando variáveis (colunas)**

In [25]:
# Exibir todos os nomes das colunas
# nome_tabela.columns

covid_sp.columns

Index(['nome_munic', 'codigo_ibge', 'dia', 'mes', 'datahora', 'casos',
       'casos_novos', 'casos_pc', 'casos_mm7d', 'obitos', 'obitos_novos',
       'obitos_pc', 'obitos_mm7d', 'letalidade', 'nome_ra', 'cod_ra',
       'nome_drs', 'cod_drs', 'pop', 'pop_60', 'area', 'map_leg', 'map_leg_s',
       'latitude', 'longitude', 'semana_epidem'],
      dtype='object')

In [26]:
# Sobrescrever tabela de dados:
# nome_tabela = nome_tabela.rename(columns={'nome_atual': 'nome_novo'})

covid_sp = covid_sp.rename(columns={'nome_munic': 'municipio'})

In [27]:
# Sem sobrescrever tabela de dados:
# nome_tabela.rename(columns={'nome_atual': 'nome_novo'}, inplace=True)

covid_sp.rename(columns={'datahora': 'data'}, inplace=True)

In [28]:
# Alterar vários nomes de uma vez:
# nome_tabela.rename(columns={'nome_1_atual': 'nome_1_novo', 'nome_2_atual': 'nome_2_novo', ...}, inplace=True)

covid_sp.rename(columns={'map_leg': 'rotulo_mapa','map_leg_s':'codigo_mapa'}, inplace=True)

In [29]:
covid_sp.columns

Index(['municipio', 'codigo_ibge', 'dia', 'mes', 'data', 'casos',
       'casos_novos', 'casos_pc', 'casos_mm7d', 'obitos', 'obitos_novos',
       'obitos_pc', 'obitos_mm7d', 'letalidade', 'nome_ra', 'cod_ra',
       'nome_drs', 'cod_drs', 'pop', 'pop_60', 'area', 'rotulo_mapa',
       'codigo_mapa', 'latitude', 'longitude', 'semana_epidem'],
      dtype='object')

## **Excluindo variáveis (colunas)**

In [30]:
covid_sp.shape

(374034, 26)

In [31]:
# Excluir por nome (sobrescrevendo):
# nome_tabela_alterada = nome_tabela.drop(columns=['nome_coluna'])

covid_sp_alterado = covid_sp.drop(columns=['cod_ra'])

In [32]:
# Excluir por número (sobrescrevendo):
# nome_tabela_alterada = nome_tabela_alterada.drop(nome_tabela_alterada.columns[[num_coluna]], axis=0_ou_1)

# axis = 0 (p/ linha) ou 1(p/ coluna)

covid_sp_alterado = covid_sp_alterado.drop(covid_sp_alterado.columns[[1]], axis=1)

In [33]:
# Excluir mais de uma variável (sem sobrescrever):
# 1 --> nome_tabela_alterada.drop(columns=['nome_coluna_1', 'nome_coluna_2', ...], inplace=True)
# 2 --> nome_tabela_alterada.drop(nome_tabela_alterada.columns[[num_coluna_a, num_coluna_b, num_coluna_c, ...]], axis=0_ou_1)

covid_sp_alterado.drop(columns=['rotulo_mapa', 'codigo_mapa', 'cod_drs'], inplace=True)
covid_sp_alterado.drop(covid_sp_alterado.columns[[13, 14, 18, 19]], axis=1, inplace=True)

In [34]:
covid_sp_alterado.shape

(374034, 17)

## **Criando e alterando valores das colunas (variáveis)**

In [35]:
covid_sp_alterado.shape

(374034, 17)

In [36]:
# Exemplo de alteração de uma variável(coluna) inteira:
# nome_tabela['nome_coluna'] = nome_tabela['nome_coluna']/100

covid_sp_alterado['area'] = covid_sp_alterado['area']/100
# ou 
# covid_sp_alterado['area'] = covid_sp_alterado.area/100

In [37]:
# Exemplo de criação de nova variável(coluna):
# nome_tabela['nova_coluna'] = nome_tabela['nome_coluna_a'] / ['nome_coluna_b']

covid_sp_alterado['densidade'] = covid_sp_alterado['pop'] / covid_sp_alterado['area']

In [38]:
# Criação de uma coluna com índices (a partir do 1):
# lista = list(range(1, num_registros + 1))
# nome_tabela = pd.DataFrame(lista, columns=['indice'])

lista = list(range(1, covid_sp_alterado.shape[0] + 1))
df = pd.DataFrame(lista, columns=['indice'])
df

        indice
0            1
1            2
2            3
3            4
4            5
...        ...
374029  374030
374030  374031
374031  374032
374032  374033
374033  374034

[374034 rows x 1 columns]

In [39]:
# Juntar dois DataFrames:
# nome_tabela = pd.concat([nome_tabela_a, nome_tabela_b], axis=0_ou_1)

covid_sp_alterado = pd.concat([covid_sp_alterado, df], axis=1)  # axis=1 --> Juntar por coluna

In [40]:
# Colocar a última coluna no começo:
# nome_tabela = nome_tabela.reindex(columns=['nome_coluna'] + list(nome_tabela.columns[:-1]))

covid_sp_alterado = covid_sp_alterado.reindex(columns=['indice'] + list(covid_sp_alterado.columns[:-1]))

In [41]:
# Escolher colunas específicas:
# nome_tabela[['coluna_1', 'coluna_2']]

covid_sp_alterado[['indice', 'area', 'densidade']]

        indice    area   densidade
0            1  411.99   82.268987
1            2  211.06   16.331849
2            3  474.55   75.035297
3            4  142.67   54.650592
4            5   60.13  305.571262
...        ...     ...         ...
374029  374030    0.00         NaN
374030  374031    0.00         NaN
374031  374032    0.00         NaN
374032  374033    0.00         NaN
374033  374034    0.00         NaN

[374034 rows x 3 columns]

## **Contagem de Registros das Variáveis (Colunas)**

In [42]:
# Contagem em uma coluna:
# nome_tabela['nome_coluna'].value_counts()

covid_sp_alterado['semana_epidem'].value_counts()

semana_epidem
35    9044
24    9044
36    9044
10    9044
34    9044
33    9044
32    9044
31    9044
30    9044
29    9044
28    9044
27    9044
26    9044
25    9044
23    9044
38    9044
22    9044
21    9044
20    9044
19    9044
18    9044
17    9044
16    9044
15    9044
14    9044
13    9044
12    9044
11    9044
37    9044
9     7752
39    4522
51    4522
7     4522
6     4522
5     4522
4     4522
3     4522
2     4522
1     4522
53    4522
52    4522
50    4522
40    4522
49    4522
48    4522
47    4522
46    4522
45    4522
44    4522
43    4522
42    4522
41    4522
8     4522
Name: count, dtype: int64

In [43]:
# Reordenar por índice:
# nome_tabela['nome_coluna'].value_counts().sort_index()

covid_sp_alterado['semana_epidem'].value_counts().sort_index()

semana_epidem
1     4522
2     4522
3     4522
4     4522
5     4522
6     4522
7     4522
8     4522
9     7752
10    9044
11    9044
12    9044
13    9044
14    9044
15    9044
16    9044
17    9044
18    9044
19    9044
20    9044
21    9044
22    9044
23    9044
24    9044
25    9044
26    9044
27    9044
28    9044
29    9044
30    9044
31    9044
32    9044
33    9044
34    9044
35    9044
36    9044
37    9044
38    9044
39    4522
40    4522
41    4522
42    4522
43    4522
44    4522
45    4522
46    4522
47    4522
48    4522
49    4522
50    4522
51    4522
52    4522
53    4522
Name: count, dtype: int64

In [44]:
# Contar utilizando a função Counter:
# Counter(nome_tabela.nome_coluna)

from collections import Counter

Counter(covid_sp_alterado.semana_epidem)

Counter({10: 9044,
         11: 9044,
         12: 9044,
         13: 9044,
         14: 9044,
         15: 9044,
         16: 9044,
         17: 9044,
         18: 9044,
         19: 9044,
         20: 9044,
         21: 9044,
         22: 9044,
         23: 9044,
         24: 9044,
         25: 9044,
         26: 9044,
         27: 9044,
         28: 9044,
         29: 9044,
         30: 9044,
         31: 9044,
         32: 9044,
         33: 9044,
         34: 9044,
         35: 9044,
         36: 9044,
         37: 9044,
         38: 9044,
         9: 7752,
         39: 4522,
         40: 4522,
         41: 4522,
         42: 4522,
         43: 4522,
         44: 4522,
         45: 4522,
         46: 4522,
         47: 4522,
         48: 4522,
         49: 4522,
         50: 4522,
         51: 4522,
         52: 4522,
         53: 4522,
         1: 4522,
         2: 4522,
         3: 4522,
         4: 4522,
         5: 4522,
         6: 4522,
         7: 4522,
         8: 4522})

In [45]:
# Relacionando duas colunas:
# nome_tabela.query('condição')['verificar_por'].value_counts()

covid_sp_alterado.query('obitos_novos > 50')['municipio'].value_counts()
# ou seja,
# quantas vezes registrou óbitos novos (por dia) maiores que 50 em determinado município

municipio
São Paulo                295
Guarulhos                  9
São Bernardo do Campo      3
Taubaté                    3
Itapetininga               2
Campinas                   1
Sorocaba                   1
Name: count, dtype: int64

## **Selecionar Variáveis (Colunas) por Índices**

In [46]:
# x = nome_tabela.iloc[linhas, colunas]

x = covid_sp_alterado.iloc[:, 5:13]
x

# OBS: [:, :] --> Os ':' sozinhos representam pegar todas as linhas ou colunas

,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d
0,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
1,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
4,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000"
...,...,...,...,...,...,...,...,...
374029,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286"
374030,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571"
374031,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714"
374032,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428"
374033,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857"

In [47]:
type(x)

pandas.core.frame.DataFrame

In [48]:
y = covid_sp_alterado.iloc[:, 1]  # Reconhece como uma Serie
y

0               Adamantina
1                   Adolfo
2                    Aguaí
3           Águas da Prata
4         Águas de Lindóia
                ...
374029            Ignorado
374030            Ignorado
374031            Ignorado
374032            Ignorado
374033            Ignorado
Name: municipio, Length: 374034, dtype: object

In [49]:
type(y)

pandas.core.series.Series

In [50]:
y = covid_sp_alterado.iloc[:, 1].values  # Reconhece como um array
y

array(['Adamantina', 'Adolfo', 'Aguaí', ..., 'Ignorado', 'Ignorado',
       'Ignorado'], dtype=object)

In [51]:
type(y)

numpy.ndarray

In [52]:
# Transforma o array em lista

lista_y = list(y.flatten())
lista_y

['Adamantina',
 'Adolfo',
 'Aguaí',
 'Águas da Prata',
 'Águas de Lindóia',
 'Águas de Santa Bárbara',
 'Águas de São Pedro',
 'Agudos',
 'Alambari',
 'Alfredo Marcondes',
 'Altair',
 'Altinópolis',
 'Alto Alegre',
 'Alumínio',
 'Álvares Florence',
 'Álvares Machado',
 'Álvaro de Carvalho',
 'Alvinlândia',
 'Americana',
 'Américo Brasiliense',
 'Américo de Campos',
 'Amparo',
 'Analândia',
 'Andradina',
 'Angatuba',
 'Anhembi',
 'Anhumas',
 'Aparecida',
 "Aparecida d'Oeste",
 'Apiaí',
 'Araçariguama',
 'Araçatuba',
 'Araçoiaba da Serra',
 'Aramina',
 'Arandu',
 'Arapeí',
 'Araraquara',
 'Araras',
 'Arco-Íris',
 'Arealva',
 'Areias',
 'Areiópolis',
 'Ariranha',
 'Artur Nogueira',
 'Arujá',
 'Aspásia',
 'Assis',
 'Atibaia',
 'Auriflama',
 'Avaí',
 'Avanhandava',
 'Avaré',
 'Bady Bassitt',
 'Balbinos',
 'Bálsamo',
 'Bananal',
 'Barão de Antonina',
 'Barbosa',
 'Bariri',
 'Barra Bonita',
 'Barra do Chapéu',
 'Barra do Turvo',
 'Barretos',
 'Barrinha',
 'Barueri',
 'Bastos',
 'Batatais',
 'Bauru',
 'Bebedouro',
 'Bento de Abreu',
 'Bernardino de Campos',
 'Bertioga',
 'Bilac',
 'Birigui',
 'Biritiba Mirim',
 'Boa Esperança do Sul',
 'Bocaina',
 'Bofete',
 'Boituva',
 'Bom Jesus dos Perdões',
 'Bom Sucesso de Itararé',
 'Borá',
 'Boracéia',
 'Borborema',
 'Borebi',
 'Botucatu',
 'Bragança Paulista',
 'Braúna',
 'Brejo Alegre',
 'Brodowski',
 'Brotas',
 'Buri',
 'Buritama',
 'Buritizal',
 'Cabrália Paulista',
 'Cabreúva',
 'Caçapava',
 'Cachoeira Paulista',
 'Caconde',
 'Cafelândia',
 'Caiabu',
 'Caieiras',
 'Caiuá',
 'Cajamar',
 'Cajati',
 'Cajobi',
 'Cajuru',
 'Campina do Monte Alegre',
 'Campinas',
 'Campo Limpo Paulista',
 'Campos do Jordão',
 'Campos Novos Paulista',
 'Cananéia',
 'Canas',
 'Cândido Mota',
 'Cândido Rodrigues',
 'Canitar',
 'Capão Bonito',
 'Capela do Alto',
 'Capivari',
 'Caraguatatuba',
 'Carapicuíba',
 'Cardoso',
 'Casa Branca',
 'Cássia dos Coqueiros',
 'Castilho',
 'Catanduva',
 'Catiguá',
 'Cedral',
 'Cerqueira César',
 'Cerquilho',
 'Cesário Lange',
 'Charqueada',
 'Clementina',
 'Colina',
 'Colômbia',
 'Conchal',
 'Conchas',
 'Cordeirópolis',
 'Coroados',
 'Coronel Macedo',
 'Corumbataí',
 'Cosmópolis',
 'Cosmorama',
 'Cotia',
 'Cravinhos',
 'Cristais Paulista',
 'Cruzália',
 'Cruzeiro',
 'Cubatão',
 'Cunha',
 'Descalvado',
 'Diadema',
 'Dirce Reis',
 'Divinolândia',
 'Dobrada',
 'Dois Córregos',
 'Dolcinópolis',
 'Dourado',
 'Dracena',
 'Duartina',
 'Dumont',
 'Echaporã',
 'Eldorado',
 'Elias Fausto',
 'Elisiário',
 'Embaúba',
 'Embu das Artes',
 'Embu-Guaçu',
 'Emilianópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Espírito Santo do Turvo',
 "Estrela d'Oeste",
 'Estrela do Norte',
 'Euclides da Cunha Paulista',
 'Fartura',
 'Fernandópolis',
 'Fernando Prestes',
 'Fernão',
 'Ferraz de Vasconcelos',
 'Flora Rica',
 'Floreal',
 'Flórida Paulista',
 'Florínea',
 'Franca',
 'Francisco Morato',
 'Franco da Rocha',
 'Gabriel Monteiro',
 'Gália',
 'Garça',
 'Gastão Vidigal',
 'Gavião Peixoto',
 'General Salgado',
 'Getulina',
 'Glicério',
 'Guaiçara',
 'Guaimbê',
 'Guaíra',
 'Guapiaçu',
 'Guapiara',
 'Guará',
 'Guaraçaí',
 'Guaraci',
 "Guarani d'Oeste",
 'Guarantã',
 'Guararapes',
 'Guararema',
 'Guaratinguetá',
 'Guareí',
 'Guariba',
 'Guarujá',
 'Guarulhos',
 'Guatapará',
 'Guzolândia',
 'Herculândia',
 'Holambra',
 'Hortolândia',
 'Iacanga',
 'Iacri',
 'Iaras',
 'Ibaté',
 'Ibirá',
 'Ibirarema',
 'Ibitinga',
 'Ibiúna',
 'Icém',
 'Iepê',
 'Igaraçu do Tietê',
 'Igarapava',
 'Igaratá',
 'Iguape',
 'Ilhabela',
 'Ilha Comprida',
 'Ilha Solteira',
 'Indaiatuba',
 'Indiana',
 'Indiaporã',
 'Inúbia Paulista',
 'Ipaussu',
 'Iperó',
 'Ipeúna',
 'Ipiguá',
 'Iporanga',
 'Ipuã',
 'Iracemápolis',
 'Irapuã',
 'Irapuru',
 'Itaberá',
 'Itaí',
 'Itajobi',
 'Itaju',
 'Itanhaém',
 'Itaoca',
 'Itapecerica da Serra',
 'Itapetininga',
 'Itapeva',
 'Itapevi',
 'Itapira',
 'Itapirapuã Paulista',
 'Itápolis',
 'Itaporanga',
 'Itapuí',
 'Itapura',
 'Itaquaquecetuba',
 'Itararé',
 'Itariri',
 'Itatiba',
 'Itatinga',
 'Itirapina',
 'Itirapuã',
 'Itobi',
 'Itu',
 'Itupeva',
 'Ituverava',
 'Jaborandi',
 'Jaboticabal',
 'Jacareí',
 'Jaci',
 'Jacupiranga',
 'Jaguariúna',
 'Jales',
 'Jambeiro',
 'Jandira',
 'Jardinópolis',
 'Jarinu',
 'Jaú',
 'Jeriquara',
 'Joanópolis',
 'João Ramalho',
 'José Bonifácio',
 'Júlio Mesquita',
 'Jumirim',
 'Jundiaí',
 'Junqueirópolis',
 'Juquiá',
 'Juquitiba',
 'Lagoinha',
 'Laranjal Paulista',
 'Lavínia',
 'Lavrinhas',
 'Leme',
 'Lençóis Paulista',
 'Limeira',
 'Lindóia',
 'Lins',
 'Lorena',
 'Lourdes',
 'Louveira',
 'Lucélia',
 'Lucianópolis',
 'Luís Antônio',
 'Luiziânia',
 'Lupércio',
 'Lutécia',
 'Macatuba',
 'Macaubal',
 'Macedônia',
 'Magda',
 'Mairinque',
 'Mairiporã',
 'Manduri',
 'Marabá Paulista',
 'Maracaí',
 'Marapoama',
 'Mariápolis',
 'Marília',
 'Marinópolis',
 'Martinópolis',
 'Matão',
 'Mauá',
 'Mendonça',
 'Meridiano',
 'Mesópolis',
 'Miguelópolis',
 'Mineiros do Tietê',
 'Miracatu',
 'Mira Estrela',
 'Mirandópolis',
 'Mirante do Paranapanema',
 'Mirassol',
 'Mirassolândia',
 'Mococa',
 'Mogi das Cruzes',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Mombuca',
 'Monções',
 'Mongaguá',
 'Monte Alegre do Sul',
 'Monte Alto',
 'Monte Aprazível',
 'Monte Azul Paulista',
 'Monte Castelo',
 'Monteiro Lobato',
 'Monte Mor',
 'Morro Agudo',
 'Morungaba',
 'Motuca',
 'Murutinga do Sul',
 'Nantes',
 'Narandiba',
 'Natividade da Serra',
 'Nazaré Paulista',
 'Neves Paulista',
 'Nhandeara',
 'Nipoã',
 'Nova Aliança',
 'Nova Campina',
 'Nova Canaã Paulista',
 'Nova Castilho',
 'Nova Europa',
 'Nova Granada',
 'Nova Guataporanga',
 'Nova Independência',
 'Novais',
 'Nova Luzitânia',
 'Nova Odessa',
 'Novo Horizonte',
 'Nuporanga',
 'Ocauçu',
 'Óleo',
 'Olímpia',
 'Onda Verde',
 'Oriente',
 'Orindiúva',
 'Orlândia',
 'Osasco',
 'Oscar Bressane',
 'Osvaldo Cruz',
 'Ourinhos',
 'Ouroeste',
 'Ouro Verde',
 'Pacaembu',
 'Palestina',
 'Palmares Paulista',
 "Palmeira d'Oeste",
 'Palmital',
 'Panorama',
 'Paraguaçu Paulista',
 'Paraibuna',
 'Paraíso',
 'Paranapanema',
 'Paranapuã',
 'Parapuã',
 'Pardinho',
 'Pariquera-Açu',
 'Parisi',
 'Patrocínio Paulista',
 'Paulicéia',
 'Paulínia',
 'Paulistânia',
 'Paulo de Faria',
 'Pederneiras',
 'Pedra Bela',
 'Pedranópolis',
 'Pedregulho',
 'Pedreira',
 'Pedrinhas Paulista',
 'Pedro de Toledo',
 'Penápolis',
 'Pereira Barreto',
 'Pereiras',
 'Peruíbe',
 'Piacatu',
 'Piedade',
 'Pilar do Sul',
 'Pindamonhangaba',
 'Pindorama',
 'Pinhalzinho',
 'Piquerobi',
 'Piquete',
 'Piracaia',
 'Piracicaba',
 'Piraju',
 'Pirajuí',
 'Pirangi',
 'Pirapora do Bom Jesus',
 'Pirapozinho',
 'Pirassununga',
 'Piratininga',
 'Pitangueiras',
 'Planalto',
 'Platina',
 'Poá',
 'Poloni',
 'Pompéia',
 'Pongaí',
 'Pontal',
 'Pontalinda',
 'Pontes Gestal',
 'Populina',
 'Porangaba',
 'Porto Feliz',
 'Porto Ferreira',
 'Potim',
 'Potirendaba',
 'Pracinha',
 'Pradópolis',
 'Praia Grande',
 'Pratânia',
 'Presidente Alves',
 'Presidente Bernardes',
 'Presidente Epitácio',
 'Presidente Prudente',
 'Presidente Venceslau',
 'Promissão',
 'Quadra',
 'Quatá',
 'Queiroz',
 'Queluz',
 'Quintana',
 'Rafard',
 'Rancharia',
 'Redenção da Serra',
 'Regente Feijó',
 'Reginópolis',
 'Registro',
 'Restinga',
 'Ribeira',
 'Ribeirão Bonito',
 'Ribeirão Branco',
 'Ribeirão Corrente',
 'Ribeirão do Sul',
 'Ribeirão dos Índios',
 'Ribeirão Grande',
 'Ribeirão Pires',
 'Ribeirão Preto',
 'Riversul',
 'Rifaina',
 'Rincão',
 'Rinópolis',
 'Rio Claro',
 'Rio das Pedras',
 'Rio Grande da Serra',
 'Riolândia',
 'Rosana',
 'Roseira',
 'Rubiácea',
 'Rubinéia',
 'Sabino',
 'Sagres',
 'Sales',
 'Sales Oliveira',
 'Salesópolis',
 'Salmourão',
 'Saltinho',
 'Salto',
 'Salto de Pirapora',
 'Salto Grande',
 'Sandovalina',
 'Santa Adélia',
 'Santa Albertina',
 "Santa Bárbara d'Oeste",
 'Santa Branca',
 "Santa Clara d'Oeste",
 'Santa Cruz da Conceição',
 'Santa Cruz da Esperança',
 'Santa Cruz das Palmeiras',
 'Santa Cruz do Rio Pardo',
 'Santa Ernestina',
 'Santa Fé do Sul',
 'Santa Gertrudes',
 'Santa Isabel',
 'Santa Lúcia',
 'Santa Maria da Serra',
 'Santa Mercedes',
 'Santana da Ponte Pensa',
 'Santana de Parnaíba',
 "Santa Rita d'Oeste",
 'Santa Rita do Passa Quatro',
 'Santa Rosa de Viterbo',
 'Santa Salete',
 'Santo Anastácio',
 'Santo André',
 'Santo Antônio da Alegria',
 'Santo Antônio de Posse',
 'Santo Antônio do Aracanguá',
 'Santo Antônio do Jardim',
 'Santo Antônio do Pinhal',
 'Santo Expedito',
 'Santópolis do Aguapeí',
 'Santos',
 'São Bento do Sapucaí',
 'São Bernardo do Campo',
 'São Caetano do Sul',
 'São Carlos',
 'São Francisco',
 'São João da Boa Vista',
 'São João das Duas Pontes',
 'São João de Iracema',
 "São João do Pau d'Alho",
 'São Joaquim da Barra',
 'São José da Bela Vista',
 'São José do Barreiro',
 'São José do Rio Pardo',
 'São José do Rio Preto',
 'São José dos Campos',
 'São Lourenço da Serra',
 'São Luiz do Paraitinga',
 'São Manuel',
 'São Miguel Arcanjo',
 'São Paulo',
 'São Pedro',
 'São Pedro do Turvo',
 'São Roque',
 'São Sebastião',
 'São Sebastião da Grama',
 'São Simão',
 'São Vicente',
 'Sarapuí',
 'Sarutaiá',
 'Sebastianópolis do Sul',
 'Serra Azul',
 'Serrana',
 'Serra Negra',
 'Sertãozinho',
 'Sete Barras',
 'Severínia',
 'Silveiras',
 'Socorro',
 'Sorocaba',
 'Sud Mennucci',
 'Sumaré',
 'Suzano',
 'Suzanápolis',
 'Tabapuã',
 'Tabatinga',
 'Taboão da Serra',
 'Taciba',
 'Taguaí',
 'Taiaçu',
 'Taiúva',
 'Tambaú',
 'Tanabi',
 'Tapiraí',
 'Tapiratiba',
 'Taquaral',
 'Taquaritinga',
 'Taquarituba',
 'Taquarivaí',
 'Tarabai',
 'Tarumã',
 'Tatuí',
 'Taubaté',
 'Tejupá',
 'Teodoro Sampaio',
 'Terra Roxa',
 'Tietê',
 'Timburi',
 'Torre de Pedra',
 'Torrinha',
 'Trabiju',
 'Tremembé',
 'Três Fronteiras',
 'Tuiuti',
 'Tupã',
 'Tupi Paulista',
 'Turiúba',
 'Turmalina',
 'Ubarana',
 'Ubatuba',
 'Ubirajara',
 'Uchoa',
 'União Paulista',
 'Urânia',
 'Uru',
 'Urupês',
 'Valentim Gentil',
 'Valinhos',
 'Valparaíso',
 'Vargem',
 'Vargem Grande do Sul',
 'Vargem Grande Paulista',
 'Várzea Paulista',
 'Vera Cruz',
 'Vinhedo',
 'Viradouro',
 'Vista Alegre do Alto',
 'Vitória Brasil',
 'Votorantim',
 'Votuporanga',
 'Zacarias',
 'Chavantes',
 'Estiva Gerbi',
 'Adamantina',
 'Adolfo',
 'Aguaí',
 'Águas da Prata',
 'Águas de Lindóia',
 'Águas de Santa Bárbara',
 'Águas de São Pedro',
 'Agudos',
 'Alambari',
 'Alfredo Marcondes',
 'Altair',
 'Altinópolis',
 'Alto Alegre',
 'Alumínio',
 'Álvares Florence',
 'Álvares Machado',
 'Álvaro de Carvalho',
 'Alvinlândia',
 'Americana',
 'Américo Brasiliense',
 'Américo de Campos',
 'Amparo',
 'Analândia',
 'Andradina',
 'Angatuba',
 'Anhembi',
 'Anhumas',
 'Aparecida',
 "Aparecida d'Oeste",
 'Apiaí',
 'Araçariguama',
 'Araçatuba',
 'Araçoiaba da Serra',
 'Aramina',
 'Arandu',
 'Arapeí',
 'Araraquara',
 'Araras',
 'Arco-Íris',
 'Arealva',
 'Areias',
 'Areiópolis',
 'Ariranha',
 'Artur Nogueira',
 'Arujá',
 'Aspásia',
 'Assis',
 'Atibaia',
 'Auriflama',
 'Avaí',
 'Avanhandava',
 'Avaré',
 'Bady Bassitt',
 'Balbinos',
 'Bálsamo',
 'Bananal',
 'Barão de Antonina',
 'Barbosa',
 'Bariri',
 'Barra Bonita',
 'Barra do Chapéu',
 'Barra do Turvo',
 'Barretos',
 'Barrinha',
 'Barueri',
 'Bastos',
 'Batatais',
 'Bauru',
 'Bebedouro',
 'Bento de Abreu',
 'Bernardino de Campos',
 'Bertioga',
 'Bilac',
 'Birigui',
 'Biritiba Mirim',
 'Boa Esperança do Sul',
 'Bocaina',
 'Bofete',
 'Boituva',
 'Bom Jesus dos Perdões',
 'Bom Sucesso de Itararé',
 'Borá',
 'Boracéia',
 'Borborema',
 'Borebi',
 'Botucatu',
 'Bragança Paulista',
 'Braúna',
 'Brejo Alegre',
 'Brodowski',
 'Brotas',
 'Buri',
 'Buritama',
 'Buritizal',
 'Cabrália Paulista',
 'Cabreúva',
 'Caçapava',
 'Cachoeira Paulista',
 'Caconde',
 'Cafelândia',
 'Caiabu',
 'Caieiras',
 'Caiuá',
 'Cajamar',
 'Cajati',
 'Cajobi',
 'Cajuru',
 'Campina do Monte Alegre',
 'Campinas',
 'Campo Limpo Paulista',
 'Campos do Jordão',
 'Campos Novos Paulista',
 'Cananéia',
 'Canas',
 'Cândido Mota',
 'Cândido Rodrigues',
 'Canitar',
 'Capão Bonito',
 'Capela do Alto',
 'Capivari',
 'Caraguatatuba',
 'Carapicuíba',
 'Cardoso',
 'Casa Branca',
 'Cássia dos Coqueiros',
 'Castilho',
 'Catanduva',
 'Catiguá',
 'Cedral',
 'Cerqueira César',
 'Cerquilho',
 'Cesário Lange',
 'Charqueada',
 'Clementina',
 'Colina',
 'Colômbia',
 'Conchal',
 'Conchas',
 'Cordeirópolis',
 'Coroados',
 'Coronel Macedo',
 'Corumbataí',
 'Cosmópolis',
 'Cosmorama',
 'Cotia',
 'Cravinhos',
 'Cristais Paulista',
 'Cruzália',
 'Cruzeiro',
 'Cubatão',
 'Cunha',
 'Descalvado',
 'Diadema',
 'Dirce Reis',
 'Divinolândia',
 'Dobrada',
 'Dois Córregos',
 'Dolcinópolis',
 'Dourado',
 'Dracena',
 'Duartina',
 'Dumont',
 'Echaporã',
 'Eldorado',
 'Elias Fausto',
 'Elisiário',
 'Embaúba',
 'Embu das Artes',
 'Embu-Guaçu',
 'Emilianópolis',
 'Engenheiro Coelho',
 'Espírito Santo do Pinhal',
 'Espírito Santo do Turvo',
 "Estrela d'Oeste",
 'Estrela do Norte',
 'Euclides da Cunha Paulista',
 'Fartura',
 'Fernandópolis',
 'Fernando Prestes',
 'Fernão',
 'Ferraz de Vasconcelos',
 'Flora Rica',
 'Floreal',
 'Flórida Paulista',
 'Florínea',
 'Franca',
 'Francisco Morato',
 'Franco da Rocha',
 'Gabriel Monteiro',
 'Gália',
 'Garça',
 'Gastão Vidigal',
 'Gavião Peixoto',
 'General Salgado',
 'Getulina',
 'Glicério',
 'Guaiçara',
 'Guaimbê',
 'Guaíra',
 'Guapiaçu',
 'Guapiara',
 'Guará',
 'Guaraçaí',
 'Guaraci',
 "Guarani d'Oeste",
 'Guarantã',
 'Guararapes',
 'Guararema',
 'Guaratinguetá',
 'Guareí',
 'Guariba',
 'Guarujá',
 'Guarulhos',
 'Guatapará',
 'Guzolândia',
 'Herculândia',
 'Holambra',
 'Hortolândia',
 'Iacanga',
 'Iacri',
 'Iaras',
 'Ibaté',
 'Ibirá',
 'Ibirarema',
 'Ibitinga',
 'Ibiúna',
 'Icém',
 'Iepê',
 'Igaraçu do Tietê',
 'Igarapava',
 'Igaratá',
 'Iguape',
 'Ilhabela',
 'Ilha Comprida',
 'Ilha Solteira',
 'Indaiatuba',
 'Indiana',
 'Indiaporã',
 'Inúbia Paulista',
 'Ipaussu',
 'Iperó',
 'Ipeúna',
 'Ipiguá',
 'Iporanga',
 'Ipuã',
 'Iracemápolis',
 'Irapuã',
 'Irapuru',
 'Itaberá',
 'Itaí',
 'Itajobi',
 'Itaju',
 'Itanhaém',
 'Itaoca',
 'Itapecerica da Serra',
 'Itapetininga',
 'Itapeva',
 'Itapevi',
 'Itapira',
 'Itapirapuã Paulista',
 'Itápolis',
 'Itaporanga',
 'Itapuí',
 'Itapura',
 'Itaquaquecetuba',
 'Itararé',
 'Itariri',
 'Itatiba',
 'Itatinga',
 'Itirapina',
 'Itirapuã',
 'Itobi',
 'Itu',
 'Itupeva',
 'Ituverava',
 'Jaborandi',
 'Jaboticabal',
 'Jacareí',
 'Jaci',
 'Jacupiranga',
 'Jaguariúna',
 'Jales',
 'Jambeiro',
 'Jandira',
 'Jardinópolis',
 'Jarinu',
 'Jaú',
 'Jeriquara',
 'Joanópolis',
 'João Ramalho',
 'José Bonifácio',
 'Júlio Mesquita',
 'Jumirim',
 'Jundiaí',
 'Junqueirópolis',
 'Juquiá',
 'Juquitiba',
 'Lagoinha',
 'Laranjal Paulista',
 'Lavínia',
 'Lavrinhas',
 'Leme',
 'Lençóis Paulista',
 'Limeira',
 'Lindóia',
 'Lins',
 'Lorena',
 'Lourdes',
 'Louveira',
 'Lucélia',
 'Lucianópolis',
 'Luís Antônio',
 'Luiziânia',
 'Lupércio',
 'Lutécia',
 'Macatuba',
 'Macaubal',
 'Macedônia',
 'Magda',
 'Mairinque',
 'Mairiporã',
 'Manduri',
 'Marabá Paulista',
 'Maracaí',
 'Marapoama',
 'Mariápolis',
 'Marília',
 'Marinópolis',
 'Martinópolis',
 'Matão',
 'Mauá',
 'Mendonça',
 'Meridiano',
 'Mesópolis',
 'Miguelópolis',
 'Mineiros do Tietê',
 'Miracatu',
 'Mira Estrela',
 'Mirandópolis',
 'Mirante do Paranapanema',
 'Mirassol',
 'Mirassolândia',
 'Mococa',
 'Mogi das Cruzes',
 'Mogi Guaçu',
 'Mogi Mirim',
 'Mombuca',
 'Monções',
 'Mongaguá',
 'Monte Alegre do Sul',
 'Monte Alto',
 'Monte Aprazível',
 'Monte Azul Paulista',
 'Monte Castelo',
 'Monteiro Lobato',
 ...]

In [53]:
# Criar um DataFrame utilizando uma lista:
# df = pd.DataFrame(lista, columns=['nome_coluna_para_lista'])

df = pd.DataFrame(lista_y, columns=['municipio_lista'])
df

         municipio_lista
0             Adamantina
1                 Adolfo
2                  Aguaí
3         Águas da Prata
4       Águas de Lindóia
...                  ...
374029          Ignorado
374030          Ignorado
374031          Ignorado
374032          Ignorado
374033          Ignorado

[374034 rows x 1 columns]

## **Excluindo, Filtrando e Substituindo Registros (Linhas)**

In [54]:
covid_sp_alterado['indice']

0              1
1              2
2              3
3              4
4              5
           ...
374029    374030
374030    374031
374031    374032
374032    374033
374033    374034
Name: indice, Length: 374034, dtype: int64

In [55]:
# Excluindo linhas por índices (valores absolutos):
# nome_tabela = nome_tabela.drop(nome_tabela.index[[num_variavel_a, num_variavel_b, ...]])

covid_sp_alterado_2 = covid_sp_alterado.drop(covid_sp_alterado.index[[1, 3]])
covid_sp_alterado_2['indice']

0              1
2              3
4              5
5              6
6              7
           ...
374029    374030
374030    374031
374031    374032
374032    374033
374033    374034
Name: indice, Length: 374032, dtype: int64

In [56]:
# Excluindo linhas por índices (intervalo de valores):
# nome_tabela = nome_tabela.drop(nome_tabela.index[num_variavel_a:num_variavel_b])

covid_sp_alterado_2 = covid_sp_alterado_2.drop(covid_sp_alterado.index[4:7])
covid_sp_alterado_2['indice']

0              1
2              3
7              8
8              9
9             10
           ...
374029    374030
374030    374031
374031    374032
374032    374033
374033    374034
Name: indice, Length: 374029, dtype: int64

In [57]:
# Reordenar(resetar) os índices(padrões):
# nome_tabela = nome_tabela.reset_index(drop=True_False)

covid_sp_alterado_2 = covid_sp_alterado_2.reset_index(drop=True)  # drop é para excluir índice anterior
covid_sp_alterado_2['indice']

0              1
1              3
2              8
3              9
4             10
           ...
374024    374030
374025    374031
374026    374032
374027    374033
374028    374034
Name: indice, Length: 374029, dtype: int64

In [58]:
# Localizar a quantidade de linhas com um valor específico:
# variavel = nome_tabela.loc[nome_tabela.nome_coluna == 'valor_específico']

ignorado = covid_sp_alterado.loc[covid_sp_alterado.municipio == 'Ignorado']
ignorado

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
373455,373456,Ignorado,25,2,2020-02-25,-1,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373456,373457,Ignorado,26,2,2020-02-26,0,1,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373457,373458,Ignorado,27,2,2020-02-27,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373458,373459,Ignorado,28,2,2020-02-28,-1,-1,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
373459,373460,Ignorado,29,2,2020-02-29,0,1,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",0,0,0.0,9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374029,374030,Ignorado,21,9,2021-09-21,1956,-477,"0,00000000000000e+00","-931,428571428571445",7,-1,"0,00000000000000e+00","-0,285714285714286","0,003578732106339468",0,0,0.0,38,NaN
374030,374031,Ignorado,22,9,2021-09-22,1414,-542,"0,00000000000000e+00","-1038,714285714285779",7,0,"0,00000000000000e+00","-0,571428571428571","0,004950495049504951",0,0,0.0,38,NaN
374031,374032,Ignorado,23,9,2021-09-23,962,-452,"0,00000000000000e+00","-348,000000000000000",6,-1,"0,00000000000000e+00","-1,714285714285714","0,006237006237006237",0,0,0.0,38,NaN
374032,374033,Ignorado,24,9,2021-09-24,557,-405,"0,00000000000000e+00","-774,428571428571445",1,-5,"0,00000000000000e+00","-2,428571428571428","0,001795332136445242",0,0,0.0,38,NaN
374033,374034,Ignorado,25,9,2021-09-25,128,-429,"0,00000000000000e+00","-472,142857142857167",0,-1,"0,00000000000000e+00","-2,857142857142857","0,000000000000000000",0,0,0.0,38,NaN

In [59]:
ignorado.shape  # (x, y)
                # x --> Quantidade de linhas em que 'Ignorado' aparece

(579, 19)

In [60]:
# Localizar a quantidade de linhas que não possuem um valor específico:
# Também serve para excluir esse valor específico da tabela:
# variavel_ou_nome_tabela = nome_tabela.loc[nome_tabela.nome_coluna != 'valor_específico']

covid_sp_alterado = covid_sp_alterado.loc[covid_sp_alterado.municipio != 'Ignorado']
covid_sp_alterado

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",33894,7398,411.99,9,82.268987
1,2,Adolfo,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",3447,761,211.06,9,16.331849
2,3,Aguaí,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",35608,5245,474.55,9,75.035297
3,4,Águas da Prata,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",7797,1729,142.67,9,54.650592
4,5,Águas de Lindóia,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",18374,3275,60.13,9,305.571262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373450,373451,Votorantim,25,9,2021-09-25,11670,1,"9,73928428361597e+03","2,571428571428572",515,0,"4,29797035652290e+02","0,142857142857143","0,044130248500428446",119824,16378,183.52,38,652.920663
373451,373452,Votuporanga,25,9,2021-09-25,16147,9,"1,75969921534438e+04","7,571428571428571",453,0,"4,93679163034002e+02","0,142857142857143","0,028054747011828824",91760,17203,42.07,38,2181.126694
373452,373453,Zacarias,25,9,2021-09-25,268,0,"1,04687500000000e+04","0,000000000000000",10,0,"3,90625000000000e+02","0,000000000000000","0,037313432835820892",2560,481,319.06,38,8.023569
373453,373454,Chavantes,25,9,2021-09-25,1388,0,"1,13556410046633e+04","0,142857142857143",48,0,"3,92702282582018e+02","0,000000000000000","0,034582132564841501",12223,2098,188.73,38,64.764478
373454,373455,Estiva Gerbi,25,9,2021-09-25,811,0,"7,32015524866865e+03","0,000000000000000",33,0,"2,97860817763336e+02","0,000000000000000","0,040690505548705305",11079,1606,74.14,38,149.433504

In [61]:
# Exemplo --> Análise de Guarulhos

guarulhos = covid_sp_alterado.loc[covid_sp_alterado.municipio == 'Guarulhos']
guarulhos

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
212,213,Guarulhos,25,2,2020-02-25,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
857,858,Guarulhos,26,2,2020-02-26,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
1502,1503,Guarulhos,27,2,2020-02-27,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2147,2148,Guarulhos,28,2,2020-02-28,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2792,2793,Guarulhos,29,2,2020-02-29,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370442,370443,Guarulhos,21,9,2021-09-21,63334,28,"4,68698081441602e+03","102,571428571428569",4857,3,"3,59438308264417e+02","2,571428571428572","0,076688666435090161",1351275,162662,318.68,38,4240.225304
371087,371088,Guarulhos,22,9,2021-09-22,63351,17,"4,68823888549703e+03","105,000000000000000",4861,4,"3,59734324989362e+02","2,428571428571428","0,076731227604931257",1351275,162662,318.68,38,4240.225304
371732,371733,Guarulhos,23,9,2021-09-23,63368,17,"4,68949695657805e+03","107,285714285714292",4862,1,"3,59808329170598e+02","2,000000000000000","0,076726423431384930",1351275,162662,318.68,38,4240.225304
372377,372378,Guarulhos,24,9,2021-09-24,63387,19,"4,69090303602154e+03","61,285714285714285",4863,1,"3,59882333351834e+02","2,142857142857143","0,076719201098016943",1351275,162662,318.68,38,4240.225304
373022,373023,Guarulhos,25,9,2021-09-25,63398,11,"4,69171708201513e+03","14,142857142857142",4866,3,"3,60104345895543e+02","1,714285714285714","0,076753209880437864",1351275,162662,318.68,38,4240.225304

In [62]:
guarulhos.drop(columns=['data', 'municipio'], inplace=True)
guarulhos

,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
212,213,25,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
857,858,26,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
1502,1503,27,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2147,2148,28,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
2792,2793,29,2,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,9,4240.225304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370442,370443,21,9,63334,28,"4,68698081441602e+03","102,571428571428569",4857,3,"3,59438308264417e+02","2,571428571428572","0,076688666435090161",1351275,162662,318.68,38,4240.225304
371087,371088,22,9,63351,17,"4,68823888549703e+03","105,000000000000000",4861,4,"3,59734324989362e+02","2,428571428571428","0,076731227604931257",1351275,162662,318.68,38,4240.225304
371732,371733,23,9,63368,17,"4,68949695657805e+03","107,285714285714292",4862,1,"3,59808329170598e+02","2,000000000000000","0,076726423431384930",1351275,162662,318.68,38,4240.225304
372377,372378,24,9,63387,19,"4,69090303602154e+03","61,285714285714285",4863,1,"3,59882333351834e+02","2,142857142857143","0,076719201098016943",1351275,162662,318.68,38,4240.225304
373022,373023,25,9,63398,11,"4,69171708201513e+03","14,142857142857142",4866,3,"3,60104345895543e+02","1,714285714285714","0,076753209880437864",1351275,162662,318.68,38,4240.225304

In [63]:
# Realizar substituições nos valores de uma coluna em uma tabela (utilizando dicionário):
# nome_tabela['nome_coluna'] = nome_tabela['nome_coluna'].replace({valor_atual_1: valor_novo_1, valor_atual_2: valor_novo_2, ...})

guarulhos['semana_epidem'] = guarulhos['semana_epidem'].replace({9: 'nove', 10: 'dez'})
guarulhos['semana_epidem']

212       nove
857       nove
1502      nove
2147      nove
2792      nove
          ...
370442      38
371087      38
371732      38
372377      38
373022      38
Name: semana_epidem, Length: 579, dtype: object

In [64]:
# Realizar substituições nos valores de uma coluna em uma tabela (utilizando lista):
# nome_tabela['nome_coluna'] = nome_tabela['nome_coluna'].replace([valor_atual_1, valor_atual_2, ...], [valor_novo_1, valor_novo_2, ...])

guarulhos['semana_epidem'] = guarulhos['semana_epidem'].replace([11, 12, 13], ['onze', 'doze', 'treze'])

In [65]:
# Escolher registros em que os valores da coluna x estão dentro da lista:
# nome_tabela.loc[nome_tabela[x].isin(['valor_1', 'valor_2'])]

guarulhos.loc[guarulhos['semana_epidem'].isin(['onze', 'doze', 'treze'])]

,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
7952,7953,8,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
8597,8598,9,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
9242,9243,10,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
9887,9888,11,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
10532,10533,12,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
11177,11178,13,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
11822,11823,14,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,onze,4240.225304
12467,12468,15,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
13112,13113,16,3,0,0,"0,00000000000000e+00","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
13757,13758,17,3,1,1,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
14402,14403,18,3,1,0,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
15047,15048,19,3,1,0,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
15692,15693,20,3,1,0,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
16337,16338,21,3,1,0,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,doze,4240.225304
16982,16983,22,3,1,0,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,treze,4240.225304
17627,17628,23,3,1,0,"7,40041812362398e-02","0,142857142857143",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,treze,4240.225304
18272,18273,24,3,1,0,"7,40041812362398e-02","0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,treze,4240.225304
18917,18918,25,3,5,4,"3,70020906181199e-01","0,571428571428571",1,1,"7,40041812362398e-02","0,142857142857143","0,200000000000000011",1351275,162662,318.68,treze,4240.225304
19562,19563,26,3,9,4,"6,66037631126159e-01","1,142857142857143",1,0,"7,40041812362398e-02","0,142857142857143","0,111111111111111105",1351275,162662,318.68,treze,4240.225304
20207,20208,27,3,13,4,"9,62054356071118e-01","1,714285714285714",2,1,"1,48008362472480e-01","0,285714285714286","0,153846153846153855",1351275,162662,318.68,treze,4240.225304
20852,20853,28,3,13,0,"9,62054356071118e-01","1,714285714285714",2,0,"1,48008362472480e-01","0,285714285714286","0,153846153846153855",1351275,162662,318.68,treze,4240.225304
247247,247248,14,3,36898,104,"2,73060627925478e+03","181,714285714285722",2214,7,"1,63845257257035e+02","11,142857142857142","0,060003252208791803",1351275,162662,318.68,onze,4240.225304
247892,247893,15,3,36949,51,"2,73438049249783e+03","178,142857142857139",2214,0,"1,63845257257035e+02","11,142857142857142","0,059920430864164119",1351275,162662,318.68,onze,4240.225304
248537,248538,16,3,37201,252,"2,75302954616936e+03","186,571428571428584",2242,28,"1,65917374331650e+02","13,571428571428571","0,060267197118357034",1351275,162662,318.68,onze,4240.225304
249182,249183,17,3,37356,155,"2,76450019426098e+03","178,428571428571416",2259,17,"1,67175445412666e+02","13,857142857142858","0,060472213299068420",1351275,162662,318.68,onze,4240.225304
249827,249828,18,3,37573,217,"2,78055910158924e+03","166,428571428571416",2299,40,"1,70135612662115e+02","17,000000000000000","0,061187554893141351",1351275,162662,318.68,onze,4240.225304
250472,250473,19,3,37847,274,"2,80083624724797e+03","174,571428571428584",2323,24,"1,71911713011785e+02","18,142857142857142","0,061378709012603380",1351275,162662,318.68,onze,4240.225304
251117,251118,20,3,38097,250,"2,81933729255703e+03","186,142857142857139",2357,34,"1,74427855173817e+02","21,428571428571427","0,061868388587027853",1351275,162662,318.68,onze,4240.225304
251762,251763,21,3,38318,221,"2,83569221661024e+03","202,857142857142861",2363,6,"1,74871880261235e+02","21,285714285714285","0,061668145519077198",1351275,162662,318.68,doze,4240.225304
252407,252408,22,3,38374,56,"2,83983645075947e+03","203,571428571428584",2365,2,"1,75019888623707e+02","21,571428571428573","0,061630270495648093",1351275,162662,318.68,doze,4240.225304
253052,253053,23,3,38683,309,"2,86270374276147e+03","211,714285714285722",2418,53,"1,78942110229228e+02","25,142857142857142","0,062508078484088611",1351275,162662,318.68,doze,4240.225304
253697,253698,24,3,38937,254,"2,88150080479547e+03","225,857142857142861",2429,11,"1,79756156222827e+02","24,285714285714285","0,062382823535454712",1351275,162662,318.68,doze,4240.225304
254342,254343,25,3,39133,196,"2,89600562431777e+03","222,857142857142861",2449,20,"1,81236239847551e+02","21,428571428571427","0,062581452993637085",1351275,162662,318.68,doze,4240.225304
254987,254988,26,3,39436,303,"2,91842889123235e+03","227,000000000000000",2503,54,"1,85232465634308e+02","25,714285714285715","0,063469925955979306",1351275,162662,318.68,doze,4240.225304
255632,255633,27,3,39671,235,"2,93581987382287e+03","224,857142857142861",2528,25,"1,87082570165214e+02","24,428571428571427","0,063724130977288199",1351275,162662,318.68,doze,4240.225304
256277,256278,28,3,39913,242,"2,95372888568204e+03","227,857142857142861",2530,2,"1,87230578527687e+02","23,857142857142858","0,063387868614235968",1351275,162662,318.68,treze,4240.225304
256922,256923,29,3,39967,54,"2,95772511146880e+03","227,571428571428584",2535,5,"1,87600599433868e+02","24,285714285714285","0,063427327545224815",1351275,162662,318.68,treze,4240.225304
257567,257568,30,3,40326,359,"2,98429261253261e+03","234,714285714285722",2581,46,"1,91004791770735e+02","23,285714285714285","0,064003372514010809",1351275,162662,318.68,treze,4240.225304
258212,258213,31,3,40622,296,"3,00619785017854e+03","240,714285714285722",2614,33,"1,93446929751531e+02","26,428571428571427","0,064349367337895716",1351275,162662,318.68,treze,4240.225304
258857,258858,1,4,41087,465,"3,04060979445339e+03","279,142857142857167",2691,77,"1,99145251706721e+02","34,571428571428569","0,065495168788181179",1351275,162662,318.68,treze,4240.225304
259502,259503,2,4,41433,346,"3,06621524116113e+03","285,285714285714278",2717,26,"2,01069360418864e+02","30,571428571428573","0,065575748799266281",1351275,162662,318.68,treze,4240.225304
260147,260148,3,4,41497,64,"3,07095150876024e+03","260,857142857142833",2717,0,"2,01069360418864e+02","27,000000000000000","0,065474612622599224",1351275,162662,318.68,treze,4240.225304

In [66]:
# Python utiliza o sistema inglês (com . entre os números ao invés de , ), portanto:
# nome_tabela['nome_coluna'] = nome_tabela['nome_coluna'].apply(lambda x: x.replace(',', '.'))

guarulhos['casos_pc'] = guarulhos['casos_pc'].apply(lambda x: x.replace(',', '.'))
guarulhos['casos_pc']

212       0.00000000000000e+00
857       0.00000000000000e+00
1502      0.00000000000000e+00
2147      0.00000000000000e+00
2792      0.00000000000000e+00
                  ...
370442    4.68698081441602e+03
371087    4.68823888549703e+03
371732    4.68949695657805e+03
372377    4.69090303602154e+03
373022    4.69171708201513e+03
Name: casos_pc, Length: 579, dtype: object

In [67]:
guarulhos.shape

(579, 17)

In [68]:
# Criar coluna com datas:
# data = np.array('data_início', dtype = np.datetime64())

data = np.array('2020-02-25', dtype = np.datetime64()) 
data

array('2020-02-25', dtype='datetime64[D]')

In [69]:
# Criar um array com a data_início até a data final de acordo com num_datas:
# data = data + np.arange(num_datas)

data = data + np.arange(guarulhos.shape[0])
data

array(['2020-02-25', '2020-02-26', '2020-02-27', '2020-02-28',
       '2020-02-29', '2020-03-01', '2020-03-02', '2020-03-03',
       '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-03-10', '2020-03-11',
       '2020-03-12', '2020-03-13', '2020-03-14', '2020-03-15',
       '2020-03-16', '2020-03-17', '2020-03-18', '2020-03-19',
       '2020-03-20', '2020-03-21', '2020-03-22', '2020-03-23',
       '2020-03-24', '2020-03-25', '2020-03-26', '2020-03-27',
       '2020-03-28', '2020-03-29', '2020-03-30', '2020-03-31',
       '2020-04-01', '2020-04-02', '2020-04-03', '2020-04-04',
       '2020-04-05', '2020-04-06', '2020-04-07', '2020-04-08',
       '2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
       '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
       '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
       '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
       '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
       '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
       '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
       '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
       '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
       '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
       '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
       '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
       '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
       '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03',
       '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07',
       '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
       '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
       '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
       '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
       '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
       '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
       '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05',
       '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
       '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13',
       '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
       '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
       '2020-07-22', '2020-07-23', '2020-07-24', '2020-07-25',
       '2020-07-26', '2020-07-27', '2020-07-28', '2020-07-29',
       '2020-07-30', '2020-07-31', '2020-08-01', '2020-08-02',
       '2020-08-03', '2020-08-04', '2020-08-05', '2020-08-06',
       '2020-08-07', '2020-08-08', '2020-08-09', '2020-08-10',
       '2020-08-11', '2020-08-12', '2020-08-13', '2020-08-14',
       '2020-08-15', '2020-08-16', '2020-08-17', '2020-08-18',
       '2020-08-19', '2020-08-20', '2020-08-21', '2020-08-22',
       '2020-08-23', '2020-08-24', '2020-08-25', '2020-08-26',
       '2020-08-27', '2020-08-28', '2020-08-29', '2020-08-30',
       '2020-08-31', '2020-09-01', '2020-09-02', '2020-09-03',
       '2020-09-04', '2020-09-05', '2020-09-06', '2020-09-07',
       '2020-09-08', '2020-09-09', '2020-09-10', '2020-09-11',
       '2020-09-12', '2020-09-13', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-19',
       '2020-09-20', '2020-09-21', '2020-09-22', '2020-09-23',
       '2020-09-24', '2020-09-25', '2020-09-26', '2020-09-27',
       '2020-09-28', '2020-09-29', '2020-09-30', '2020-10-01',
       '2020-10-02', '2020-10-03', '2020-10-04', '2020-10-05',
       '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-09',
       '2020-10-10', '2020-10-11', '2020-10-12', '2020-10-13',
       '2020-10-14', '2020-10-15', '2020-10-16', '2020-10-17',
       '2020-10-18', '2020-10-19', '2020-10-20', '2020-10-21',
       '2020-10-22', '2020-10-23', '2020-10-24', '2020-10-25',
       '2020-10-26', '2020-10-27', '2020-10-28', '2020-10-29',
       '2020-10-30', '2020-10-31', '2020-11-01', '2020-11-02',
       '2020-11-03', '2020-11-04', '2020-11-05', '2020-11-06',
       '2020-11-07', '2020-11-08', '2020-11-09', '2020-11-10',
       '2020-11-11', '2020-11-12', '2020-11-13', '2020-11-14',
       '2020-11-15', '2020-11-16', '2020-11-17', '2020-11-18',
       '2020-11-19', '2020-11-20', '2020-11-21', '2020-11-22',
       '2020-11-23', '2020-11-24', '2020-11-25', '2020-11-26',
       '2020-11-27', '2020-11-28', '2020-11-29', '2020-11-30',
       '2020-12-01', '2020-12-02', '2020-12-03', '2020-12-04',
       '2020-12-05', '2020-12-06', '2020-12-07', '2020-12-08',
       '2020-12-09', '2020-12-10', '2020-12-11', '2020-12-12',
       '2020-12-13', '2020-12-14', '2020-12-15', '2020-12-16',
       '2020-12-17', '2020-12-18', '2020-12-19', '2020-12-20',
       '2020-12-21', '2020-12-22', '2020-12-23', '2020-12-24',
       '2020-12-25', '2020-12-26', '2020-12-27', '2020-12-28',
       '2020-12-29', '2020-12-30', '2020-12-31', '2021-01-01',
       '2021-01-02', '2021-01-03', '2021-01-04', '2021-01-05',
       '2021-01-06', '2021-01-07', '2021-01-08', '2021-01-09',
       '2021-01-10', '2021-01-11', '2021-01-12', '2021-01-13',
       '2021-01-14', '2021-01-15', '2021-01-16', '2021-01-17',
       '2021-01-18', '2021-01-19', '2021-01-20', '2021-01-21',
       '2021-01-22', '2021-01-23', '2021-01-24', '2021-01-25',
       '2021-01-26', '2021-01-27', '2021-01-28', '2021-01-29',
       '2021-01-30', '2021-01-31', '2021-02-01', '2021-02-02',
       '2021-02-03', '2021-02-04', '2021-02-05', '2021-02-06',
       '2021-02-07', '2021-02-08', '2021-02-09', '2021-02-10',
       '2021-02-11', '2021-02-12', '2021-02-13', '2021-02-14',
       '2021-02-15', '2021-02-16', '2021-02-17', '2021-02-18',
       '2021-02-19', '2021-02-20', '2021-02-21', '2021-02-22',
       '2021-02-23', '2021-02-24', '2021-02-25', '2021-02-26',
       '2021-02-27', '2021-02-28', '2021-03-01', '2021-03-02',
       '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
       '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
       '2021-03-11', '2021-03-12', '2021-03-13', '2021-03-14',
       '2021-03-15', '2021-03-16', '2021-03-17', '2021-03-18',
       '2021-03-19', '2021-03-20', '2021-03-21', '2021-03-22',
       '2021-03-23', '2021-03-24', '2021-03-25', '2021-03-26',
       '2021-03-27', '2021-03-28', '2021-03-29', '2021-03-30',
       '2021-03-31', '2021-04-01', '2021-04-02', '2021-04-03',
       '2021-04-04', '2021-04-05', '2021-04-06', '2021-04-07',
       '2021-04-08', '2021-04-09', '2021-04-10', '2021-04-11',
       '2021-04-12', '2021-04-13', '2021-04-14', '2021-04-15',
       '2021-04-16', '2021-04-17', '2021-04-18', '2021-04-19',
       '2021-04-20', '2021-04-21', '2021-04-22', '2021-04-23',
       '2021-04-24', '2021-04-25', '2021-04-26', '2021-04-27',
       '2021-04-28', '2021-04-29', '2021-04-30', '2021-05-01',
       '2021-05-02', '2021-05-03', '2021-05-04', '2021-05-05',
       '2021-05-06', '2021-05-07', '2021-05-08', '2021-05-09',
       '2021-05-10', '2021-05-11', '2021-05-12', '2021-05-13',
       '2021-05-14', '2021-05-15', '2021-05-16', '2021-05-17',
       '2021-05-18', '2021-05-19', '2021-05-20', '2021-05-21',
       '2021-05-22', '2021-05-23', '2021-05-24', '2021-05-25',
       '2021-05-26', '2021-05-27', '2021-05-28', '2021-05-29',
       '2021-05-30', '2021-05-31', '2021-06-01', '2021-06-02',
       '2021-06-03', '2021-06-04', '2021-06-05', '2021-06-06',
       '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
       '2021-06-11', '2021-06-12', '2021-06-13', '2021-06-14',
       '2021-06-15', '2021-06-16', '2021-06-17', '2021-06-18',
       '2021-06-19', '2021-06-20', '2021-06-21', '2021-06-22',
       '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-26',
       '2021-06-27', '2021-06-28', '2021-06-29', '2021-06-30',
       '2021-07-01', '2021-07-02', '2021-07-03', '2021-07-04',
       '2021-07-05', '2021-07-06', '2021-07-07', '2021-07-08',
       '2021-07-09', '2021-07-10', '2021-07-11', '2021-07-12',
       '2021-07-13', '2021-07-14', '2021-07-15', '2021-07-16',
       '2021-07-17', '2021-07-18', '2021-07-19', '2021-07-20',
       '2021-07-21', '2021-07-22', '2021-07-23', '2021-07-24',
       '2021-07-25', '2021-07-26', '2021-07-27', '2021-07-28',
       '2021-07-29', '2021-07-30', '2021-07-31', '2021-08-01',
       '2021-08-02', '2021-08-03', '2021-08-04', '2021-08-05',
       '2021-08-06', '2021-08-07', '2021-08-08', '2021-08-09',
       '2021-08-10', '2021-08-11', '2021-08-12', '2021-08-13',
       '2021-08-14', '2021-08-15', '2021-08-16', '2021-08-17',
       '2021-08-18', '2021-08-19', '2021-08-20', '2021-08-21',
       '2021-08-22', '2021-08-23', '2021-08-24', '2021-08-25',
       '2021-08-26', '2021-08-27', '2021-08-28', '2021-08-29',
       '2021-08-30', '2021-08-31', '2021-09-01', '2021-09-02',
       '2021-09-03', '2021-09-04', '2021-09-05', '2021-09-06',
       '2021-09-07', '2021-09-08', '2021-09-09', '2021-09-10',
       '2021-09-11', '2021-09-12', '2021-09-13', '2021-09-14',
       '2021-09-15', '2021-09-16', '2021-09-17', '2021-09-18',
       '2021-09-19', '2021-09-20', '2021-09-21', '2021-09-22',
       '2021-09-23', '2021-09-24', '2021-09-25'], dtype='datetime64[D]')

In [70]:
# Trasformar o array das datas em DataFrame:

data = pd.DataFrame(data)
data

             0
0   2020-02-25
1   2020-02-26
2   2020-02-27
3   2020-02-28
4   2020-02-29
..         ...
574 2021-09-21
575 2021-09-22
576 2021-09-23
577 2021-09-24
578 2021-09-25

[579 rows x 1 columns]

In [71]:
# Nomear a coluna das datas:
# data.columns = ['nome_coluna']

data.columns = ['data']
data.head()

        data
0 2020-02-25
1 2020-02-26
2 2020-02-27
3 2020-02-28
4 2020-02-29

In [72]:
# Não ficará correta, pois os índices de 'guarulhos' não estão resetados

guarulhos_2 = pd.concat([data, guarulhos], axis=1)
guarulhos_2.head()

,data,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
0,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-02-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
guarulhos = guarulhos.reset_index(drop=True)

In [74]:
# Agora sim!

guarulhos_2 = pd.concat([data, guarulhos], axis=1)
guarulhos_2.head()

,data,indice,dia,mes,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
0,2020-02-25,213,25,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
1,2020-02-26,858,26,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
2,2020-02-27,1503,27,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
3,2020-02-28,2148,28,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304
4,2020-02-29,2793,29,2,0,0,0.00000000000000e+00,"0,000000000000000",0,0,"0,00000000000000e+00","0,000000000000000","0,000000000000000000",1351275,162662,318.68,nove,4240.225304

In [75]:
guarulhos_2.shape

(579, 18)

## **Valores Missing (NaN)**

In [76]:
# RELAÇÃO DA QUANTIDADE

# Quantidade de valores ausentes em cada coluna:
# nome_tabela.isnull().sum()

covid_sp_alterado.isnull().sum()

indice           0
municipio        0
dia              0
mes              0
data             0
casos            0
casos_novos      0
casos_pc         0
casos_mm7d       0
obitos           0
obitos_novos     0
obitos_pc        0
obitos_mm7d      0
letalidade       0
pop              0
pop_60           0
area             0
semana_epidem    0
densidade        0
dtype: int64

In [77]:
# RELAÇÃO DA QUANTIDADE

# Quantidade de valores ausentes em uma coluna específica:
# nome_tabela['nome_coluna'].isnull().sum()

covid_sp_alterado['casos'].isnull().sum()

0

In [78]:
# RELAÇÃO DA QUANTIDADE

covid_sp.isnull().sum()

municipio          0
codigo_ibge        0
dia                0
mes                0
data               0
casos              0
casos_novos        0
casos_pc           0
casos_mm7d         0
obitos             0
obitos_novos       0
obitos_pc          0
obitos_mm7d        0
letalidade         0
nome_ra          579
cod_ra             0
nome_drs         579
cod_drs            0
pop                0
pop_60             0
area               0
rotulo_mapa      579
codigo_mapa      579
latitude           0
longitude          0
semana_epidem      0
dtype: int64

In [79]:
# Excluir todos os VALORES MISSING:
# nome_tabela = nome_tabela.dropna()

covid_sp_2 = covid_sp.dropna()
covid_sp_2.isnull().sum()

municipio        0
codigo_ibge      0
dia              0
mes              0
data             0
casos            0
casos_novos      0
casos_pc         0
casos_mm7d       0
obitos           0
obitos_novos     0
obitos_pc        0
obitos_mm7d      0
letalidade       0
nome_ra          0
cod_ra           0
nome_drs         0
cod_drs          0
pop              0
pop_60           0
area             0
rotulo_mapa      0
codigo_mapa      0
latitude         0
longitude        0
semana_epidem    0
dtype: int64

In [80]:
# Preencher os VALORES MISSING pela MEDIANA:
# nome_tabela['nome_coluna'].fillna(nome_tabela['nome_coluna'].median, inplace=True)

covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].median, inplace=True)

In [81]:
# Preencher os VALORES MISSING pela MÉDIA:
# nome_tabela['nome_coluna'].fillna(nome_tabela['nome_coluna'].mean, inplace=True)

covid_sp['obitos_novos'].fillna(covid_sp['obitos_novos'].mean, inplace=True)

In [82]:
# Preencher os VALORES MISSING por QUALQUER OUTRO VALOR:
# nome_tabela['nome_coluna'].fillna(qualquer_valor, inplace=True)

covid_sp['obitos_novos'].fillna(10, inplace=True)

## **Classificação e alteração da tipagem dos atributos**

Análise dos tipos de atributos:

- object: strings

- int64: inteiros

- float64: reais

- complex: complexos

In [83]:
# Verificar tipos das colunas de uma tabelas:
# nome_tabela.dtypes

covid_sp_alterado.dtypes

indice             int64
municipio         object
dia                int64
mes                int64
data              object
casos              int64
casos_novos        int64
casos_pc          object
casos_mm7d        object
obitos             int64
obitos_novos       int64
obitos_pc         object
obitos_mm7d       object
letalidade        object
pop                int64
pop_60             int64
area             float64
semana_epidem      int64
densidade        float64
dtype: object

In [84]:
# Transformar uma variável(coluna) em outro tipo:
# nome_tabela['nome_coluna'] = nome_tabela['nome_coluna'].astype(tipo_atributo)

# covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].astype(float)

# Resultará em erro, pois 'casos_pc' está escrito com "," entre os números

In [85]:
covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].apply(lambda x: x.replace(',', '.'))

In [86]:
# Agora sim!

covid_sp_alterado['casos_pc'] = covid_sp_alterado['casos_pc'].astype(float)
covid_sp_alterado.dtypes

indice             int64
municipio         object
dia                int64
mes                int64
data              object
casos              int64
casos_novos        int64
casos_pc         float64
casos_mm7d        object
obitos             int64
obitos_novos       int64
obitos_pc         object
obitos_mm7d       object
letalidade        object
pop                int64
pop_60             int64
area             float64
semana_epidem      int64
densidade        float64
dtype: object

In [87]:
# Realizar o tratamento em todas as variáveis necessárias

covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].apply(lambda x: x.replace(',', '.'))
covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].apply(lambda x: x.replace(',', '.'))
covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].apply(lambda x: x.replace(',', '.'))
covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].apply(lambda x: x.replace(',', '.'))
covid_sp_alterado.head(1)

,indice,municipio,dia,mes,data,casos,casos_novos,casos_pc,casos_mm7d,obitos,obitos_novos,obitos_pc,obitos_mm7d,letalidade,pop,pop_60,area,semana_epidem,densidade
0,1,Adamantina,25,2,2020-02-25,0,0,0.0,0.000000000000000,0,0,0.00000000000000e+00,0.000000000000000,0.000000000000000000,33894,7398,411.99,9,82.268987

In [88]:
# Mudar a tipagem das variáveis necessárias

covid_sp_alterado['casos_mm7d'] = covid_sp_alterado['casos_mm7d'].astype(float)
covid_sp_alterado['obitos_pc'] = covid_sp_alterado['obitos_pc'].astype(float)
covid_sp_alterado['obitos_mm7d'] = covid_sp_alterado['obitos_mm7d'].astype(float)
covid_sp_alterado['letalidade'] = covid_sp_alterado['letalidade'].astype(float)
covid_sp_alterado.dtypes

indice             int64
municipio         object
dia                int64
mes                int64
data              object
casos              int64
casos_novos        int64
casos_pc         float64
casos_mm7d       float64
obitos             int64
obitos_novos       int64
obitos_pc        float64
obitos_mm7d      float64
letalidade       float64
pop                int64
pop_60             int64
area             float64
semana_epidem      int64
densidade        float64
dtype: object

In [89]:
# Tipagem para datatime:
# nome_tabela['nome_coluna'] = pd.to_datetime(nome_tabela['nome_coluna'])

covid_sp_alterado['data'] = pd.to_datetime(covid_sp_alterado['data'])
covid_sp_alterado.dtypes

indice                    int64
municipio                object
dia                       int64
mes                       int64
data             datetime64[ns]
casos                     int64
casos_novos               int64
casos_pc                float64
casos_mm7d              float64
obitos                    int64
obitos_novos              int64
obitos_pc               float64
obitos_mm7d             float64
letalidade              float64
pop                       int64
pop_60                    int64
area                    float64
semana_epidem             int64
densidade               float64
dtype: object

# **Salvando (Exportando) o DataFrame Tratado**

In [90]:
# nome_tabela.to_csv('caminho_arquivo', sep='separador_no_arquivo', encoding='tipo_encoding', index=True_False)

# index --> Se criará uma coluna com os índices padrões na tabela (não é necessário, pois o Python já faz isso quando abre o arquivo)

covid_sp_alterado.to_csv('./dados/covid_sp_tratado.csv', sep=';', encoding='utf-8', index=False)

# **Desafio**

Transformar o dataset "iris" em um DataFrame

In [91]:
iris = datasets.load_iris()

In [92]:
iris.data

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])

In [93]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [94]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [95]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

## **Maneira 1**

In [96]:
iris_data = pd.DataFrame(iris.data)

iris_data.rename(
    columns={0: 'sepal-length(cm)', 1: 'sepal-width(cm)', 2: 'petal-length(cm)', 3: 'petal-width(cm)'},
    inplace=True
)

iris_target = pd.DataFrame(iris.target)
iris_target.rename(
    columns={0: 'classification'},
    inplace=True
)

iris_df = pd.concat([iris_data, iris_target], axis=1)
iris_df['classification'] = iris_df['classification'].replace({0: 'setosa', 1: 'versicolor', 2: 'virginica'})

In [97]:
iris_df.head()

,sepal-length(cm),sepal-width(cm),petal-length(cm),petal-width(cm),classification
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [98]:
iris_df['classification'].value_counts()

classification
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

## **Maneira 2 (melhor)**

In [99]:
dados = pd.DataFrame(iris.data)
classes = pd.DataFrame(iris.target)

iris_df_2 = pd.concat([dados, classes], axis=1)

colnames = iris.feature_names
colnames.append('classification')

iris_df_2.columns = colnames

nomes = iris.target_names

iris_df_2['classification'] = iris_df_2['classification'].replace({0: nomes[0],
                                                                   1: nomes[1],
                                                                   2: nomes[2]})

In [100]:
iris_df_2.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),classification
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [101]:
iris_df_2['classification'].value_counts()

classification
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64